<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{/general/head.html}"></div>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.dataTables.min.css}">
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/pages/inbox.css}" rel="stylesheet">
</head>
<body class="skin-blue fixed-layout">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">CRM</p>
        </div>
    </div>
    <div id="main-wrapper">
        <div th:insert="~{/general/header.html}"></div>
        <div th:insert="~{/general/left-sidebar.html}"></div>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div th:insert="~{/general/page-titles.html}"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Budgets</h4>
                                <div class="table-responsive m-t-40">
                                    <table id="config-table" class="table display table-bordered table-striped no-wrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Label</th>
                                                <th>Amount</th>
                                                <th>Transaction Date</th>
                                                <th>Customer</th>
                                                <th>Created By</th>
                                                <th>Show</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:if="${budgets != null}" th:each="budget : ${budgets}">
                                                <td th:text="${budget.budgetId}"></td>
                                                <td th:text="${budget.label}"></td>
                                                <td th:text="${budget.amount}"></td>
                                                <td th:text="${budget.transactionDate}"></td>
                                                <td th:text="${budget.customer.name}"></td>
                                                <td th:text="${budget.user != null ? budget.user.username : 'N/A'}"></td>
                                                <td><a th:href="${home + 'employee/budget/show/' + budget.budgetId}"><i class="fas fa-eye"></i></a></td>
                                                <td><a th:href="${home + 'employee/budget/update/' + budget.budgetId}"><i class="fas fa-edit"></i></a></td>
                                                <td>
                                                    <form th:action="${home + 'employee/budget/delete/' + budget.budgetId}" method="post">
                                                        <button type="submit" class="btn btn-primary">
                                                            <i class="mdi mdi-delete"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:insert="~{/general/right-sidebar.html}"></div>
            </div>
        </div>
        <div th:insert="~{/general/footer.html}"></div>
    </div>
    <script th:inline="javascript">
        var home = /*[[${home}]]*/ null;
    </script>
    <script th:src="@{/js/library/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/library/popper.min.js}"></script>
    <script th:src="@{/js/library/bootstrap.min.js}"></script>
    <script th:src="@{/js/library/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/js/library/waves.js}"></script>
    <script th:src="@{/js/library/sidebarmenu.js}"></script>
    <script th:src="@{/js/library/sticky-kit.min.js}"></script>
    <script th:src="@{/js/library/jquery.sparkline.min.js}"></script>
    <script th:src="@{/js/library/custom.min.js}"></script>
    <script th:src="@{/js/library/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/library/dataTables.responsive.min.js}"></script>
    <script>
        $('#config-table').DataTable({
            responsive: true
        });
    </script>
</body>
</html>