<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/css/login-register-lock.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.toast.css}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <title>Notification</title>
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
</head>
<body>
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Loading</p>
        </div>
    </div>
    <section id="wrapper" class="login-register login-sidebar" th:style="'background:url(' + @{/images/login-register.jpg} + ');'">
        <div class="login-box card">
            <div class="card-body">
                <div class="text-center">
                    <img th:src="@{/images/logo-icon.png}" alt="Home" /><br/>
                    <img th:src="@{/images/logo-text.png}" alt="Home" />
                </div>

                <div class="text-center m-t-20">
                    <h1>CONFIGURATION DES DONNES</h1>
                    <p>IMPORT CSV ET RESTORATION.</p>
                </div>
                <div class="m-t-30 text-center">
                    <form th:action="@{/CsvImport}" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" accept=".csv" required>
                        <button type="submit" class="btn btn-primary m-t-10">Importer CSV</button>
                    </form> 
                    <form th:action="@{/restore}" method="post" class="m-t-20">
                        <button type="submit" class="btn btn-danger">Restaurer la base de données</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/library/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/custom.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/jquery.toast.js}"></script>
    <script th:src="@{/js/library/toastr.js}"></script>
</body>
</html>
