<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{/general/head.html}"></div>
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/pages/inbox.css}" rel="stylesheet">
</head>
<body class="skin-blue fixed-layout">
    <div th:insert="~{/general/header.html}"></div>
    <div th:insert="~{/general/left-sidebar.html}"></div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div th:insert="~{/general/page-titles.html}"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Confirm Budget Excess</h4>
                            <div class="alert alert-warning">
                                <strong>Warning:</strong> This expense will exceed the budget.
                                <p>Current ticket total: <span th:text="${currentAmount}"></span></p>
                                <p>Customer budget: <span th:text="${budget}"></span></p>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <form th:action="@{/employee/ticket/confirm}" method="post">
                                        <input type="hidden" name="ticketId" th:value="${pendingTicket.ticketId}" />
                                        <input type="hidden" name="amount" th:value="${pendingExpense.amount}" />
                                        <input type="hidden" name="expenseDate" th:value="${pendingExpense.expenseDate}" />
                                        
                                        <button type="submit" class="btn btn-danger">
                                            Confirm and Save Expense
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <a th:href="@{/employee/ticket/assigned-tickets}" class="btn btn-secondary">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{/general/footer.html}"></div>
    <script th:inline="javascript">
        var home = /*[[${home}]]*/ null;
    </script>
    <script th:src="@{/js/library/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/library/popper.min.js}"></script>
    <script th:src="@{/js/library/bootstrap.min.js}"></script>
    <script th:src="@{/js/library/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/js/library/waves.js}"></script>
    <script th:src="@{/js/library/sidebarmenu.js}"></script>
    <script th:src="@{/js/library/sticky-kit.min.js}"></script>
    <script th:src="@{/js/library/jquery.sparkline.min.js}"></script>
    <script th:src="@{/js/library/custom.min.js}"></script>
</body>
</html>